<div class="footer">
    <div class="logo-div">
        <p class="footer-logo">AutoRent</p>
        <img src="assets/car-logo-inv.png" alt="" class="logoimg">
    </div>
    <div class="phone-div flex">
        <img src="assets/phone-solid.svg" alt="" width="30px" style="filter:invert(1); margin-right: 20px;">
        <p style="color:white; font-size: 1.3rem;">0721 2345 678</p>
    </div>
    <div class="email-div flex">
        <img src="assets/envelope-solid.svg" alt="" width="30px" style="filter:invert(1); margin-right: 20px;">
        <p style="color:white; font-size: 1.3rem;">rezervari@autorent.ro</p>
    </div>
    <div class="socials flex">
        <img src="assets/square-facebook.svg" alt="" width="30px" style="filter:invert(1);">
    </div>
    
</div>