<div class="details">
    <h1>Autorent services</h1>
    <div class="details-type">
        <div>
            <h2>Leisure rentals</h2>
            <p>Holidays are way better behind the wheel of a car!
                Discover new local places or cross borders and explore with your friends or family.
                In our fleet you will find cars which are perfectly suited for any needs, whether you travel light or heavy.
                Our national network allows you to deliver or pick-up your car anywhere in Romania.</p>
        </div>
        <div>
            <h2>Business Travel Rentals</h2>
            <p>Our car fleet includes a wide range of cars suited for any of your mobility needs.
                We understand that flexibility is very important, especially on your business trips, so we offer reliable cars that can help you move aptly around the city.
                You can find us NON STOP in any of the airports in Romania.</p>
        </div>
        <div>
            <h2>Personalized Rentals</h2>
            <p>We offer personalized car rental services to meet any of your company's mobility needs.
                Take advantage of the low risks, the high efficiency, cost optimizations and the immediate solution of the unavailability of the vehicles that come with owning a temporary car fleet.</p>
        </div>
    </div>
</div>

<div class="how-to-use">
    <h1>Rent a car fast & easy</h1>
    <div class="asd">
        <p style="font-size: 1.3rem;">Make an online booking for your trip in 3 easy steps:</p>
        <p>1.Choose your non-stop pick up and drop off locations and the rental duration</p>
        <p>2.Choose your vehicle</p>
        <p>3.Complete the car rental booking</p>
        
    </div>
    <div class="asd">
        <p style="font-size: 1.3rem;">Car rental without hidden costs</p>
        <p class="cost">Choose Autorent for your car rental services, your mobility partner anywhere in Romania. Non-stop bookings, online or by phone at the provided contact number without any hidden costs.</p>
    </div>
    
</div>